body {
    background-color: #191919;
 
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
    margin: 2em 10em 2em 10em;
}

.navbarclass {
    background-color: #0A0708;
    margin-top: 0px;
    width: 100%;
    height: 40px;   
}

.navbarlist {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    
}

.headerclass {
    
    color: hotpink;
    margin: 50px;
    text-align: center;
    
}



.footerclass {
    text-align: center;
    color: hotpink;
    
}

a {
    color: #B1B1B1;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;

}
a:hover {
    color: hotpink;
}

p {
    color: #B1B1B1;
}

img {
    width: 175px;
    height: 220px;
    
}