<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>To Do List</title>
</head>
<body>
    <h1>To Do List</h1>
    <div class="addform">
        <label for="add">Add Task</label>
        <input id="add" class="addtask" type="text" placeholder="Enter Task Here">
        <input id="add" class="addtaskurgency" type="text" placeholder="Enter level of urgency">
        <input id="add" class="addtaskadder" type="text" placeholder="Who is adding this task?">
        <button class="submit">Submit</button>
    </div>
    
    <div class="buttons">
        <input class="updateTask" type="text" placeholder="Updated Task">
        <input class="updatetaskid" type="text" placeholder="ID#">
        <button class="updatetaskbutton">Update Task by id #</button>
        <input type="text" class="deletetaskid" placeholder="ID of task to delete">
        <button class="deletetaskbutton">Delete a Task by id #</button>
    </div>
    <div class="todocontainer">
       ${tasks.map(task => `<p>${task.id}</p>
       <p>${task.task}</p>
       <p>${task.urgency}
       </p>`).join('')}
    </div>
</body>
<script src="../toDoList.js"></script>
</html>