body {
 margin:0;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#81B622, #59981A);
}

.navbar a {
  text-decoration: none;
  color: black;
  padding-bottom: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  font-size: smaller;
}

.logo img {
  padding-left: 10px;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem 2rem;
  margin-top: 0;
  
}

.homepage img {
  width: 100vw;
}

.homepageCard {
  width: 150px;
  /* height: 150px; */
  padding: 1rem;
  border: none;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
  color: black;
  background: linear-gradient(#81B622, #59981A);
  box-shadow: 3px 3px 6px lightgrey;
}

.homepageCard a {
text-decoration: none;
color: black;
text-transform: uppercase;
font-weight: 700;
}

.homepageCard a:hover {
  transform: scale(1.1)
}

.servicesPage {
  text-align: center;
}



.servicesPage a {
  text-decoration: none;
  color: black;
 vertical-align: sub;
 display: flex;
}

.servicesCard {
  display: flex;
  padding: 10px;
  margin: 2rem;
  border: 2px solid lightgrey;
  border-radius: 6px;
  box-shadow: 3px 3px 6px lightgrey;
  color: black;
  background: linear-gradient(#81B622, #59981A);
}

.servicesCard img {
  padding: 7px;
}

.testimonialPage {
  text-align: center;
  align-items: center;
  margin-bottom: 1rem;
}

.testimonialPage a {
    text-decoration: none;
    color: black;
    vertical-align: sub;
    display: flex;
  }

.testimonialCard {
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
  box-shadow: 3px 3px 6px grey;
  background: linear-gradient(#81B622, #59981A);
}

.galleryPage {
  text-align: center;
}

.galleryPage a {
  text-decoration: none;
  color: black;
 vertical-align: sub;
 display: flex;

}

.galleryCard {
  background: linear-gradient(#81B622, #59981A);
  margin: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px lightgrey;
  padding: 1rem;
}

.photos {
  height: 200px;
  width: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 6px black;
}

.aboutUsPage {
  text-align: center;
  
}

.aboutUsPage img {
  width: 65%;
}
.aboutUsPage a {
  width: 100%;
  text-align: justify;
  text-decoration: none;
  color: black;
  vertical-align: sub;
  display: flex;
}

.aboutUsPage h3 {
  margin: 20px 25px 20px 25px;
}

.contactUsPage {
  text-align: center;

}

.icons {
  display: flex;

}
.icons img {
  width: 100px;
}

.icons a {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.contactUsPage a {
  text-decoration: none;
  color: black;
 vertical-align: sub;
 display: flex;

}

.weatherPage {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.weatherPage2 {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
}

.weatherPage2 h2 {
margin: 15px
}

.weatherPage2 h3 {
  width: 100%;
}

.weatherPage a {
  text-decoration: none;
  color: black;
 vertical-align: sub;
 display: flex;
 
}

.weatherCard {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 2px solid grey;
box-shadow: 3px 3px 6px grey;
margin: 7px;
background: linear-gradient(#81B622, #59981A);
width: 107px;
}

.temp{
  display: flex;
  margin: 2px;
  text-align: center;
}
.icons {
  display: flex;
  justify-content: space-around;
  padding: 45px;
}


@media only screen and (min-width: 600px) {
  .homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* padding: 0 2rem 2rem 2rem; */
    margin-top: 0;
    background: URL("https://images.unsplash.com/photo-1549448046-b89e7214060d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFuZHNjYXBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat fixed;
    background-size: cover;
    position: fixed;
   
  }

  .homepage img {
    width: 0;
    height: 0;
  }

  .homepageCard {
    width: 140px;
    /* height: 150px; */
    padding: 15px;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    
    margin: 10px;
    color: black;
    background: linear-gradient(#81B622, #59981A);
  }

  .servicesCard {
    display: flex;
    padding: 20px;
    margin: 2rem;
    border: 2px solid lightgrey;
    border-radius: 6px;
    box-shadow: 3px 3px 6px lightgrey;
    color: black;
    background: linear-gradient(#81B622, #59981A);
    justify-content: center;
  }

  .servicesCard img {
    padding-right: 20px;
  }

  .galleryPage h1 {
    width: 100%;
  }
  .galleryPage {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .galleryCard {
    width: 300px;
    background: linear-gradient(#81B622, #59981A);
    margin: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px lightgrey;
    padding: 1rem;
  }

  .galleryPage a {
    width: 100%;
    text-align: justify;
  }

  .testimonialCard {
    width: 350px;
    border-radius: 5px;
    margin: 20px;
    padding: 1rem;
    box-shadow: 3px 3px 6px grey;
    background: linear-gradient(#81B622, #59981A);
  }

  .testimonialPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .testimonialPage h1 {
    width: 100%;
  }

  .testimonialPage a {
    width: 100%;
    text-decoration: none;
    color: black;
    vertical-align: sub;
    display: flex;
  }
  .icons {
    display: flex;
    justify-content: space-around;
    padding: 45px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#81B622, #59981A);
    height: 200px;
    font-size:xx-large;
  }

  .logo {
    align-items: center;
  }
  .logo img {
    padding-left: 50px;
    width: 50px;
  }
  
  .homepage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* padding: 0 2rem 2rem 2rem; */
    margin-top: 0;
    width: 100vw;
    background: URL("https://images.unsplash.com/photo-1549448046-b89e7214060d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bGFuZHNjYXBpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60") no-repeat fixed;
    background-size: cover;
    position: fixed;
   
  }

  .homepage img {
    width: 0;
    height: 0;
  }

  .homepageCard {
    width: 250px;
    /* height: 150px; */
    padding: 40px;
    border: none;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    font-size: x-large;
    margin: 10px;
    color: black;
    background: linear-gradient(#81B622, #59981A);
  }

 .servicesCard {
    
    padding: 20px;
    width: 300px;
    margin: 2rem;
    border: 2px solid lightgrey;
    border-radius: 6px;
    box-shadow: 3px 3px 6px lightgrey;
    color: black;
    background: linear-gradient(#81B622, #59981A);
    justify-content: center;
  }
  .servicesPage {
    text-align: center;
    display: flex;
    flex-direction: column;
   
  }
  .servicesCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .icons {
    display: flex;
    justify-content: space-around;
    padding: 45px;
  }
}