<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    ${head}
</head>
<body>
   <h1>The names are ${characters.map(character =>`<h1>${character.name}</h1>`).join(" ")}</h1>
   <h3>The addresses are ${characters.map(character =>`<h3>${character.address}</h3>`).join(" ")}</h3>
   <p>The states are ${characters.map(character =>`<p>${character.state}</p>`).join(" ")}</p>
</body>
</html>