body {
    font-family: 'Poppins', sans-serif;
    display: flexbox;
}

img {
    width: 20em;

}
h1 {
    margin-top: 2em;
}

nav {
    display: inline-block;
  
    width: 100%;
   
}
li {
  
    list-style-type: none;
    
}