body {
    font-family: 'Poppins', sans-serif;
    display: flexbox;
}

img {
    width: 20em;

}
h1 {
    text-align: center;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 10%;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
nav {
    display: inline-block;
  
    width: 100%;
   
}
li {
  
    list-style-type: none;
    
}
p {
    margin: 10%;
    text-align: center;

}